@font-face {
    font-family: 'Tenada';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Tenada/Tenada.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Tenada/Tenada.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Tenada/Tenada.ttf') format('truetype');
}
